.article {
    &__box {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        line-height: $line-height-medium;
        @media (max-width: 420px) {
            line-height: $line-height-small;
        }
        margin-bottom: $size-20;
    }

    &__item {
        font-size: $font-size-small;
        @media (max-width: 420px) {
            font-size: $font-size-mini;
        }

        list-style-color: $lightSlate;
        &::before {
            content: "\2022";
            color: $lightSlate;
        }
        // background-color: $slate;

        &--row {
            color: $lightSlate;
            text-decoration: none;

            &:hover,
            &:focus {
                transition: all 0.5s ease-out;
                color: $lightestSlate;
                text-shadow: 0 0 10px $white;
                padding-left: $size-6;
            }
        }
    }
}
