.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    &__heading {
        display: flex;
        align-items: center;
        font-size: $size-8;
        margin: $size-4 $size-8;
        text-align: center;
        column-gap: $size-4;
        color: $slate;

        @media (max-width: 480px) {
            font-size: $size-5;
        }

        > a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $size-2;
            border-radius: $size-2;
            // width: $size-6;
            // height: $size-6;

            > svg {
                stroke: $slate;
                stroke-width: 0.1rem;
                width: $size-6;
                height: $size-6;
            }

            &:hover {
                transition: all 0.5s ease-out;
                opacity: 0.9;
                background-color: $white;
            }
        }
    }

    &__item {
        &--container {
            display: none;
            transition: all 0.5s ease-out;
        }

        &--image {
            display: none;
            transition: all 0.5s ease-out;

            > img {
                width: 50vw;
                height: auto;
            }
        }

        &--active {
            display: block;
            animation: fade-in-out 1s ease-out;
        }
    }

    &__container {
        &--prev {
            left: $size-4;
        }
        &--next {
            right: $size-4;
        }

        &--prev,
        &--next {
            padding: $size-2;
            // box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
            //     inset 0 0 10px rgba(255, 255, 255, 0.9);
            border-radius: 100%;
            aspect-ratio: 1;
            line-height: $size-2;

            svg {
                width: $size-8;
                height: auto;
                stroke-width: 0.1rem;
                stroke: $slate;
            }
        }

        &--prev:hover,
        &--next:hover {
            transition: all 0.5s ease-out;
            opacity: 0.9;
            background-color: $white;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
                inset 0 0 10px rgba(255, 255, 255, 0.9);
        }
    }

    &__image {
        &--prev {
            left: $size-20;
        }
        &--next {
            right: $size-20;
        }

        &--prev,
        &--next {
            @media (max-width: 480px) {
                display: none;
            }
            padding: $size-2;
            border-radius: 100%;
            aspect-ratio: 1;
            line-height: $size-2;
            // box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
            //     inset 0 0 10px rgba(255, 255, 255, 0.9);

            svg {
                width: $size-16;
                height: auto;
                stroke-width: 0.1rem;
                stroke: $slate;
            }
        }

        &--prev:hover,
        &--next:hover {
            transition: all 0.5s ease-out;
            opacity: 0.9;
            background-color: $white;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
                inset 0 0 10px rgba(255, 255, 255, 0.9);
        }
    }

    &__detail {
        color: $lightSlate;
        font-size: $size-4;
        margin: $size-4 $size-8;
        word-wrap: break-word;
        @media (max-width: 480px) {
            font-size: $size-3;
        }
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY($size-1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
