$font-size: 1.1rem;

.font {
    &-s {
        font-size: $font-size * 0.75;
        line-height: $font-size * 0.75 * 1.9;
    }
    &-m {
        font-size: $font-size * 1;
        line-height: $font-size * 1 * 1.9;
        @media (max-width: 420px) {
            font-size: $font-size * 0.9;
            line-height: $font-size * 0.9 * 2;
        }
    }
    &-l {
        font-size: $font-size * 1.4;
        line-height: $font-size * 1.4 * 1.9;
        @media (max-width: 420px) {
            font-size: $font-size * 1.25;
            line-height: $font-size * 1.25 * 1.9;
        }
    }
    &-xl {
        font-size: $font-size * 2.1;
        line-height: $font-size * 2.1 * 2;
        @media (max-width: 420px) {
            font-size: $font-size * 1.8;
            line-height: $font-size * 1.8 * 1.9;
        }
    }

    &-wh {
        color: $white;
    }
    &-bk {
        color: $black;
    }
    &-slate {
        color: $slate;
    }
    &-lightSlate {
        color: $lightSlate;
    }

    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }

    &-keep {
        word-break: keep-all;
    }

    &-focus:focus,
    &-hover:hover {
        transition: all 0.5s ease-out;
        opacity: 0.5;
        text-shadow: 0 0 10px $white;
        color: $white;
    }
}
