.header {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    &__title {
        padding: $size-2;
        font-size: $size-6;
        // font-weight: $font-bold;
        text-shadow: 0 0 $size-3 $white;

        &:hover {
            transition: opacity 0.5s ease-out;
            cursor: pointer;
            opacity: 0.7;
        }
    }

    > section {
        text-align: center;
        @media (max-width: 480px) {
            display: flex;
        }
    }

    &__button {
        font-family: $font-family;
        font-size: $size-4;
        padding: $size-2 $size-4;
        border-radius: $size-4;
        text-decoration: underline;
        text-underline-offset: $size-1;
        text-decoration-thickness: 0.05rem;

        @media (max-width: 480px) {
            padding: $size-2;
        }

        &:hover,
        &:focus {
            transition: all 0.5s ease-out;
            opacity: 0.7;
            text-shadow: 0 0 $size-4 $white;
            text-decoration: none;
        }
    }
}
