@mixin text-glow() {
    text-shadow: 0 0 10px $white;
}

.header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
    top: 0;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    &__title {
        padding-top: $size-4;
        @include text-glow();

        &:hover {
            transition: opacity 0.5s ease-out;
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__nav {
        &--ul {
            display: flex;
            column-gap: $size-2;
            padding-top: $size-4;
            @media (max-width: 480px) {
                padding-top: 0;
            }
        }

        &--li {
            // text-decoration: underline;
            // text-underline-offset: 0.1rem;
            // text-decoration-thickness: 0.1rem;
            &:hover {
                @include text-glow();
            }
        }
    }
}
