// This is a variable declaration
// $color: violet;

// This is a mixin definition
// @mixin border($width) {
//     border: $width solid black;
// }

// This is a function definition
// @function square($number) {
//     @return $number * $number;
// }

// body {
//     font-size: square(6) + px;
// }

// h1 {
//     color: $color;
//     @include border(1px);
// }

// Issue: modern chromium browsers that don't support
// *,
// html,
// body {
//     scroll-behavior: smooth !important;
// }

@import "reset.scss";
@import "variables.scss";

* {
    font-size: 1.2rem;
    line-height: 1.2rem * 1.6;
    font-family: $font-family;
    color: $white;
}

body {
    width: 100%;
    // height: 600vh;
    background-image: url("/imgs/background.jpeg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    backdrop-filter: grayscale(15%) brightness(55%);
    -moz-backdrop-filter: grayscale(15%) brightness(55%);
    -webkit-backdrop-filter: grayscale(15%) brightness(55%);
    position: relative;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 0 $size-8;
}

@import "loading.scss";
@import "header.scss";
@import "intro.scss";
@import "carousel.scss";
@import "article.scss";

@import "container.scss";
// @import "heading.scss";
@import "font.scss";

.intro {
    margin: $size-72 auto;

    @media (max-width: 480px) {
        margin-top: $size-36;
    }

    &__animation {
        margin-top: $size-1;
        will-change: transform;
        animation: ping-down 2s ease-out infinite;
        filter: grayscale(35%);
    }

    @keyframes ping-down {
        0% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(50px);
        }
        66% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: $size-16;
    row-gap: $size-40;
    @media (max-width: 480px) {
        row-gap: $size-32;
    }

    > p {
        width: 85vw;
    }

    &__left {
        margin-left: 0;
    }

    &__right {
        margin-right: 0;
    }
}

.heading {
    margin-top: $size-32;
    margin-left: $size-16;
    margin-bottom: $size-8;
}

.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.article {
    &__ul {
        margin: $size-16;
        row-gap: $size-8;
        // 리스트아이템 갭
        // 리스트아이템 스타일
    }

    &__li {
        //
    }
}
