// $color: violet;

// @mixin border($width) {
//     border: $width solid black;
// }

// @function square($number) {
//     @return $number * $number;
// }

// body {
//     font-size: square(6) + px;
// }

// h1 {
//     color: $color;
//     @include border(1px);
// }

// Issue: modern chromium browsers that don't support
// *,
// html,
// body {
//     scroll-behavior: smooth !important;
// }

@import "reset.scss";
@import "variables.scss";

* {
    // font-size: 1.1rem;
    // line-height: 1.1rem * 1.6;
    font-family: $font-family;
    color: $white;
}

body {
    width: 100%;
    background-image: url("/imgs/background.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-clip: border-box;

    backdrop-filter: grayscale(15%) brightness(55%);
    -moz-backdrop-filter: grayscale(15%) brightness(55%);
    -webkit-backdrop-filter: grayscale(15%) brightness(55%);
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import "font.scss";
@import "carousel.scss";

.loading {
    &__active {
        display: flex;
        flex-direction: column;
        row-gap: $size-8;
        justify-content: center;
        align-items: center;
        background-color: rgba(#000, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: auto;
        z-index: 10;
        overflow: hidden;
        animation: fade 3s ease-out forwards;
    }

    &__circle {
        width: $size-24;
        height: $size-24;
        border: $size-4 solid rgba($slate, 0.35);
        border-right: $size-4 solid $white;
        border-radius: 100%;
        animation: spinner 1s ease-in-out 3, fade 2s ease-out forwards;
    }

    &__text {
        animation: fade 2.5s ease-out forwards;
    }

    @keyframes fade {
        0% {
            opacity: 100%;
        }
        75% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }

    @keyframes spinner {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &__complete {
        display: none;
    }
}

.header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
    top: 0;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    &__title {
        padding-top: $size-4;
        @include text-glow();

        &:hover {
            transition: opacity 0.5s ease-out;
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__nav {
        &--ul {
            display: flex;
            column-gap: $size-2;
            padding-top: $size-4;
            @media (max-width: 480px) {
                padding-top: 0;
            }
        }

        &--li {
            // text-decoration: underline;
            // text-underline-offset: 0.1rem;
            // text-decoration-thickness: 0.1rem;
            &:hover {
                @include text-glow();
            }
        }
    }
}

.intro {
    margin: $size-80 auto;

    @media (max-width: 480px) {
        margin-top: $size-36;
    }

    &__animation {
        margin-top: $size-1;
        will-change: transform;
        animation: ping-down 2s ease-out infinite;
        filter: grayscale(35%);
    }

    @keyframes ping-down {
        0% {
            transform: translateY(0px);
        }
        33% {
            transform: translateY(50px);
        }
        66% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: $size-16;
    row-gap: $size-40;
    @media (max-width: 480px) {
        row-gap: $size-32;
    }

    > p {
        width: 85vw;
    }

    &__left {
        margin-left: 0;
    }

    &__right {
        margin-right: 0;
    }
}

.heading {
    margin-top: $size-32;
    margin-bottom: $size-8;
    margin-left: $size-16;
    margin-right: $size-16;
    @media (max-width: 480px) {
        margin-top: $size-16;
        margin-left: $size-8;
        margin-right: $size-8;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.article {
    &__ol {
        margin: auto $size-24;
        @media (max-width: 480px) {
            margin: auto $size-12;
        }
    }

    &__li {
        // alternative: list-style: disc
        list-style-color: $lightSlate;
        &::before {
            content: "\2022";
            color: $lightSlate;
        }
        margin: $size-2 auto;

        &--item {
            text-decoration: none;
        }
    }
}

.mobile-hide {
    @media (max-width: 480px) {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $size-8;
        font-family: $font-family;
        column-gap: $size-4;
    }
}

#contact {
    color: transparent;
    width: 250%;
    overflow: hidden;
    font-size: $size-16;
    font-weight: 700;
    -webkit-text-stroke: 2px $lightSlate;
    white-space: nowrap;
    will-change: auto;
    transform: translateX(28rem);
    animation: sliding 14.5s ease-in-out 0.5s infinite;
    margin: $size-32 auto;

    @keyframes sliding {
        0% {
            transform: translateX(28rem);
        }
        50% {
            transform: translateX(-36rem);
        }
        100% {
            transform: translateX(28rem);
        }
    }

    @media (max-width: 420px) {
        width: 275%;
        font-size: $size-12;
        transform: translateX(8rem);
        animation: sliding-mobile 12.5s ease-in-out 0.5s infinite;
    }

    @keyframes sliding-mobile {
        0% {
            transform: translateX(8rem);
        }
        50% {
            transform: translateX(-42rem);
        }
        100% {
            transform: translateX(8rem);
        }
    }
}

.resume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: $size-8;
    margin: $size-8 auto;
    margin-top: $size-16;
    border-radius: $size-2;
    border: 2px solid $slate;
    padding: $size-4 $size-8;
    text-decoration: none;

    &:hover,
    &:focus {
        transition: all 0.5s ease-out;
        border-color: $slate;
        background-color: $slate;
    }

    > hr {
        width: $size-10;
        height: 2px;
        border: none;
        border-radius: $size-2;
        background-color: $slate;
    }
}
