.intro {
    &__box {
        margin: $size-12 auto;
        word-break: keep-all;

        > span {
            display: block;
        }
    }

    &__center {
        padding: auto;
        text-align: center;
    }

    &__left {
        width: 50vw;
        margin-left: $size-20;
        text-align: left;
        @media (max-width: 480px) {
            width: initial;
            margin-left: $size-4;
            margin-right: $size-8;
        }
    }

    &__right {
        width: 50vw;
        margin-right: $size-20;
        text-align: right;
        @media (max-width: 480px) {
            width: initial;
            margin-left: $size-8;
            margin-right: $size-4;
        }
    }

    &__heading {
        font-size: $size-8;
        line-height: $size-16;
        margin: $size-48 auto;
    }

    &__paragraph {
        line-height: $size-12;
        font-size: $size-5;
        font-weight: $font-normal;
        @media (max-width: 480px) {
            line-height: $size-6;
            font-size: $size-3;
        }
    }
}
