.intro {
    &__box {
        margin: $size-12 auto;

        > span {
            display: block;
        }
    }

    &__center {
        padding: auto;
        text-align: center;
    }

    &__left {
        margin-left: $size-20;
        text-align: left;
    }

    &__right {
        margin-right: $size-20;
        text-align: right;
    }

    &__heading {
        font-size: $size-8;
        line-height: $size-16;
    }

    &__paragraph {
        line-height: $size-12;
        font-size: $size-5;
        font-weight: $font-normal;
    }
}
