.intro {
    &__box {
        margin: $size-16 auto;
        margin-top: $size-20;
        word-break: keep-all;
        line-height: $line-height;

        @media (max-width: 480px) {
            line-height: $line-height-mobile;
            margin: $size-6 auto;
            margin-top: $size-10;
        }

        &--bold {
            font-weight: $font-bold;
        }

        &--large {
            @media (min-width: 481px) {
                font-size: $font-size;
                line-height: $line-height-large;
            }
        }

        > span {
            display: block;
        }
    }

    &__center {
        margin: auto;
        text-align: center;
    }

    &__left {
        width: 50vw;
        margin-left: $size-20;
        text-align: left;
        @media (max-width: 480px) {
            width: 80vw;
            margin-left: $size-8;
            // margin-right: $size-8;
        }
    }

    &__right {
        width: 50vw;
        margin-right: $size-20;
        text-align: right;
        @media (max-width: 480px) {
            width: 85vw;
            // margin-left: $size-8;
            margin-right: $size-8;
        }
    }

    &__heading {
        margin: $size-72 auto;
        padding-bottom: $size-12;
        font-size: $font-size-large;
        line-height: $line-height-large;

        &--animation {
            margin-top: $size-1;
            will-change: auto;
            animation: ping-down 2s ease-out infinite;
            // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            filter: grayscale(35%);
        }
    }

    &__paragraph {
        line-height: $size-12;
        font-size: $font-size-small;
        font-weight: $font-normal;
        color: $white;
        @media (max-width: 480px) {
            line-height: $size-8;
            font-size: $size-4;
        }
    }
}

@keyframes ping-down {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(50px);
    }
    66% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
