.margin {
    &-vertical {
        &-none {
            margin-top: 0;
            margin-bottom: 0;
        }
        &-narrow {
            margin-top: $size-8;
            margin-bottom: $size-8;
        }
        &-normal {
            margin-top: $size-16;
            margin-bottom: $size-16;
        }
        &-wide {
            margin-top: $size-24;
            margin-bottom: $size-24;
        }
    }
    &-horizontal {
        &-none {
            margin-left: 0;
            margin-right: 0;
        }
        &-narrow {
            margin-left: $size-8;
            margin-right: $size-8;
        }
        &-normal {
            margin-left: $size-16;
            margin-right: $size-16;
        }
        &-wide {
            margin-left: $size-24;
            margin-right: $size-24;
        }
    }
}
