$font-size-mini: 1rem;
$font-size-small: 1.25rem;
$font-size: 1.75rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-mobile: 1.25rem;
$font-size-mobile-large: 1.5rem;

$line-height-mini: 1.75rem;
$line-height-small: 2rem;
$line-height: 2.5rem;
$line-height-medium: 3.5rem;
$line-height-large: 4.5rem;
$line-height-mobile: 2rem;
$line-height-mobile-large: 3rem;

$font-thin: 300;
$font-normal: 400;
$font-bold: 700;
$font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;

$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-11: 2.75rem;
$size-12: 3rem;
$size-16: 4rem;
$size-20: 5rem;
$size-24: 6rem;
$size-28: 7rem;
$size-32: 8rem;
$size-36: 9rem;
$size-40: 10rem;
$size-48: 12rem;
$size-60: 15rem;
$size-72: 18rem;
$size-80: 20rem;
$size-84: 21rem;
$size-96: 24rem;

$slate: #8892b0;
$lightSlate: #a8b2d1;
$lightestSlate: #ccd6f6;

$white: #e6f1ff;
$black: #3c3c3c;
// $black: #262626;

@mixin text-glow() {
    text-shadow: 0 0 10px $white;
}
